{% extends 'header.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>About FocusHive</h1>
    <p>
        Focus Hive is an innovative web-based learning platform developed to improve focus, <br>
        motivation, and productivity for students and professionals by integrating the <br>
        Pomodoro time management technique with virtual collaboration tools. With the rise <br>
        of online education and remote work, many individuals struggle with maintaining <br>
        concentration, managing time effectively, and staying motivated in isolated study <br>
        environments. Focus Hive addresses these challenges by providing users with the <br>
        ability to create or join structured study sessions, either individually or in groups,<br>
        supported by real-time audio and video communication using WebRTC technology. 
    </p>
</div>
{% endblock %}
